splitWiseServer/database
splitWiseServer/logs
splitWiseServer/users
splitWiseServer/history
splitWiseServer/forzipping
splitWiseServer/target
splitWiseServer/.vscode
splitWiseClient/forzipping
splitWiseClient/target
splitWiseClient/.vscode
